.navbar {
    font-family: 'ADLaM Display';
    background-color: #343a40;
}

.navbar .navbar-brand {
    color: white;
    margin-left: 20px;
    font-size: 25px;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.form-control {
    border: 1px solid black;
    border-radius: 0px;
    margin-top: 20px;
    background-color: #a7a7a7;
    padding: 20px;
}

#search .btn {
    border-radius: 0px;
    margin-top: 20px;
    background-color: #007c77;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: 0.8 ease-in-out;
    padding: 20px;
}

#search .btn:hover {
    background-color: #1b4332;
}

.row img {
    margin-top: 10px;
    width: 100%;
}

#domain {
    padding-top: 100px;
    font-size: 17px;
    margin-top: 12px;
    background: #caf0f8;
    border-radius: 20px;
    height: 510px;
    font-weight: bold;
}

#domain .btn {
    background-color: rgb(44, 44, 44);
    color: white;
    margin-top: 13px;
    margin-bottom: 13px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    font-weight: bold;
}

#price {
    margin-top: 10px;
    margin-bottom: 70px;
}

#price .col-3 {
    border: 1px solid black;
    padding: 20px 10px 20px 10px;
    transition: 0.6s ease-in-out;
}

#price .col-3:hover,
#price .col-2:hover {
    background-color: black;
    color: white;
}

#price a {
    text-decoration: none;
    color: black;
    transition: 0.6s ease-in-out;
}

/* THE a DOES NOT HOVER UNTIL THE MOUSE HIT IT */
#price a:hover {
    color: white;
}

#price .col-2 {
    border: 1px solid black;
    padding-top: 40px;
}

#review .col-4 {
    background-color: #dee2e6;
    padding: 20px;
    border-radius: 5px;
    width : 400px;
}
